/* main section */
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
}
#head{
    background-size: 130%;
    width: 56rem;
}
#head #navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.left {
    display: flex;
    width: 50%;
    padding-left: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.right {
    display: flex;
    width: 15rem;
    justify-content: space-evenly;
    align-items: center;
}

/* body{
    background-color: green;
} */
.row{
    flex-direction: column;
    width: 56rem;
}

.text .image{
    flex-basis: 100%;
}

.tvprimary, .tvsecondary{
    text-align: center;
}

#row1, #row4{
    flex-direction: column-reverse;
}
#upper{ 
    position: absolute;
    top: 16rem;
    left: 28rem;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 5rem;
}
.blackline {
    width: 56rem;
}

.questions{
    color: white;
    text-align: center;
    width: max-content;
    width: 40rem;
    margin: 40px auto 40px 7rem;
}

footer{
    width: min-content;
    padding-left: 2rem;
}

footer .row{
    flex-direction: row;
}