/* main section */
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
}

.head1{
    font-size: 25px;
}

.head2{
    font-size: 15px;
}

.head3{
    font-size: 15px;
}

.form input, .form .submit{
    width: 10rem;
    height: 3rem;
}

#head{
    background-size: cover;
    width: fit-content;
}
#head #navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.left {
    display: flex;
    width: 50%;
    padding-left: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.right {
    display: flex;
    width: 15rem;
    justify-content: space-evenly;
    align-items: center;
}

/* body{
    background-color: green;
} */
.row{
    flex-direction: column;
    width: fit-content;
}

.row .image img {
    display: block;
    height: 18rem;
    width: 22rem;
    margin: auto;
}

.text .image{
    flex-basis: 100%;
}

.tvprimary, .tvsecondary{
    text-align: center;
}

.tvprimary{
    font-size:2rem ;
    padding-left: 0;
    padding-right: 0;
}

.tvsecondary{
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    
}


#row1, #row4{
    flex-direction: column-reverse;
}
#upper{ 
    width: auto;
    position: absolute;
    top: 16rem;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 5rem;
}
.blackline {
    width:100%;
}

.questions{
    color: white;
    text-align: center;
    width: max-content;
    width: 24rem;
    margin: 40px auto 40px 1rem;
}

footer{
    width: min-content;
    padding-left: 2rem;
}


footer .row{
    flex-direction: column;
}